* {
  box-sizing: border-box; }

body {
  background-color: #1d1f21;
  color: #c9cacc;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 1.725;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision; }
  body form {
    margin: 0;
    padding: 0; }
  body login {
    display: none;
    margin: 0 auto;
    padding: 100px 0 0;
    width: 400px; }
    body login.active {
      display: block; }
    body login h1 {
      color: #2b9cca;
      display: block;
      font-family: serif;
      font-size: 2.5rem;
      letter-spacing: 0.01em;
      line-height: 1.25;
      margin: 0;
      padding: 2.5rem 0 1rem;
      position: relative;
      text-transform: none; }
    body login input[type=submit] {
      padding: 10px 13px; }
    body login p input[type=text],
    body login p input[type=password] {
      display: block;
      padding: 10px 13px;
      width: 100%; }
    body login p label {
      cursor: pointer; }
      body login p label::after {
        content: ':'; }
  body interface {
    display: none;
    margin: 0;
    padding: 0; }
    body interface.active {
      display: block; }
    body interface nav {
      background-color: white;
      display: block;
      height: 50px;
      left: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      right: 0;
      top: 0; }
      body interface nav ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        body interface nav ul li {
          display: block;
          float: left;
          width: 200px; }
          body interface nav ul li a {
            background-color: white;
            color: black;
            cursor: pointer;
            display: block;
            font-weight: bold;
            height: 50px;
            padding: 13px 10px 0;
            width: 100%; }
            body interface nav ul li a.warning {
              background-image: url("/assets/img/warning.png");
              background-position: left 10px center;
              background-repeat: no-repeat;
              padding-left: 30px; }
            body interface nav ul li a.active {
              background-color: #ddd; }
              body interface nav ul li a.active span {
                background-color: #ccc; }
            body interface nav ul li a:hover {
              background-color: #eee; }
            body interface nav ul li a span {
              background-color: #ddd;
              border-radius: 5px;
              display: inline-block;
              font-weight: normal;
              padding: 0 5px; }
              body interface nav ul li a span.red {
                color: red;
                padding: 0; }
              body interface nav ul li a span.green {
                color: green; }
    body interface panels {
      display: block;
      margin: 52px 0 0;
      padding: 0; }
      body interface panels panel {
        background-color: white;
        color: #333;
        display: none;
        margin: 0;
        padding: 10px 10px 100px; }
        body interface panels panel.active {
          display: block; }
        body interface panels panel h1 {
          color: #333;
          display: block;
          font-family: serif;
          font-size: 1.5rem;
          font-weight: normal;
          letter-spacing: 0.01em;
          line-height: 1.25;
          margin: 0;
          padding: 0;
          text-transform: none; }
          body interface panels panel h1 span {
            font-weight: bold; }
        body interface panels panel table {
          margin-top: 20px;
          width: 100%; }
          body interface panels panel table thead tr th {
            background-color: #eee;
            font-weight: bold;
            padding: 2px 5px;
            text-align: left; }
          body interface panels panel table tbody tr td {
            background-color: #eee;
            padding: 2px 5px; }
            body interface panels panel table tbody tr td a.warning {
              background-image: url("/assets/img/warning.png");
              background-position: left center;
              background-repeat: no-repeat;
              cursor: pointer;
              display: block;
              padding-left: 20px; }
          body interface panels panel table tbody tr:hover td {
            background-color: #ddd; }
    body interface popups {
      background-color: rgba(0, 0, 0, 0.25);
      bottom: 0;
      display: none;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
      body interface popups.active {
        display: block; }
      body interface popups popup {
        background-color: white;
        color: #333;
        display: none;
        margin: 100px auto 0;
        padding: 0;
        width: 700px; }
        body interface popups popup.active {
          display: block; }
        body interface popups popup.loading content {
          opacity: 0; }
        body interface popups popup.loading buttons input[type=submit] {
          opacity: 0; }
        body interface popups popup header {
          background-color: #ddd;
          display: block;
          margin: 0;
          padding: 10px; }
          body interface popups popup header h1 {
            font-size: 1rem;
            margin: 0;
            padding: 0; }
        body interface popups popup content {
          display: block;
          margin: 0;
          padding: 10px; }
          body interface popups popup content label {
            cursor: pointer;
            display: block; }
          body interface popups popup content input[type=text],
          body interface popups popup content input[type=url] {
            display: block;
            padding: 10px;
            width: 100%; }
          body interface popups popup content select {
            display: block;
            padding: 10px;
            width: 100%; }
        body interface popups popup buttons {
          background-color: #eee;
          display: block;
          margin: 0;
          padding: 10px;
          text-align: right; }
          body interface popups popup buttons input[type=submit],
          body interface popups popup buttons button {
            padding: 5px; }

.loading {
  background-image: url("/assets/img/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent; }

@media screen and (max-width: 700px) {
  body login {
    padding: 0 10px;
    width: 100%; }
    body login h1 {
      font-size: 2rem; } }
